*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,html{
  height: 100%;
  width: 100%;
  color: #00274a;
  font-size: 18px;
  font-style: normal;
  font-family: 'Iosevka', monospace, 'Roboto Light', 'Roboto',  Helvetica, Arial, sans-serif;

}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  flex:1;
}

h1{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  text-align: center;
  text-shadow: 0px 0px 10px white ;

}

#head-event{
  background-image: url("../public/pixel_havel.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
  max-height: 598px;
  width: 100%;

}
.nav{
  display: flex;
  gap:10px;
  justify-content: end;
  padding: 10px 10px 0px 0px;
  width: 100%;
  height: 48px;

}
.translate-btn{
  padding:5px;
  cursor: pointer;
  background-color: white;
  color:rgba(16, 16, 16, 0.3);
  border: 2px solid #00274a;
  box-shadow: 2px 2px 0 #0d1b21;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}
.translate-btn:disabled{
  background-color: rgba(239, 239, 239, 0);
  box-shadow:0 0 transparent;
  border:none;
  cursor: default;
}
.container{
  padding:30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 92%;
  width: 100%;
}

.content-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:20px;
  width: 100%;
}

.content-header p{
  color: white;
  font-size: 1em;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
  text-shadow: 0px 0px 10px black ;
}
.countdown{
  text-shadow: 0px 0px 10px black ;
  color: white;
  padding: 10px 0px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;


}
.countdown ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}
.countdown ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7px;
  font-size: 0.5em
}

.countdown ul li span {
  font-size: 3.8em;
  min-width: 1.3em;
  text-align: center;
}

#btn-joinUs{
  font-family: 'Press Start 2P', cursive; /* Retro font, Google Fonts */
  background-color: #fefefe;
  color: #00274a;
  border: 4px solid #00274a;
  padding: 12px 24px;
  font-size: 14px;
  cursor: pointer;

  box-shadow: 4px 4px 0 #0d1b21;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}
#btn-joinUs a{
  text-decoration: none;
  color: #00274a;
  text-transform: uppercase;
}

.main{
  background:white;
  gap: 10px;
  text-align:justify ;
  width: 100%;

}

h2{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}



.benefits{
  list-style:none;
  padding-left:2em;
  text-indent: -0.8em;
}

.benefits li:before {
  content: "■";
  color: green;
  display: inline-block;
  width: 1.3em;
  margin-left: -0.5em;
}

.main ul li{
  padding-bottom: 5px;
}

#map{
  width: 100%;
  height: 100%;
  background-image: url("../public/map.png");
  background-position: center;
  background-repeat: no-repeat;
}

#meetup-data{
  text-align: center;
}
#btn-map{
  border:none;
  width: 500px;
  max-width: 100%;
  height: 400px;
}

footer{
  height: 40px;
  width: 100%;
  background-color: #00274a;

}

@media screen and (min-width: 1440px){
  .container{
    width: 1120px;
    display: flex;
    margin: 0 auto;


  }
  #head-event{
    width: 1120px;
    margin: 0 auto;
  }

}


